/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #eee; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex {
  display: flex;
}

.margin-right {
  margin-right: 1rem;
}
.margin-left {
  margin-left: 1rem;
}
.margin-top {
  margin-top: 1rem;
}
.margin-bottom {
  margin-bottom: 1rem;
}
